/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #F3F3F3; */
}

/* Sessions Form */

.nav-logo-img {
  padding: 5px;
}

.nav-container {
  width: 100%;
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #2e2e2e;
}

.logo-container {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 45px;
}

.logo-container h2 {
  padding-top: 10px;
  padding-left: 100px;
}

.login-signup-buttons {
  margin-top: 10px;
  margin-right: 100px;
}

.login-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: transparent;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

.signup-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: transparent;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

.signup-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}

.login-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}

 .modal-form-container {

}

.login-form-box {

}

.login-form {

}

.modal-logo {
  display: flex;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.modal-logo-text {
  padding: 10px;
}

.modal-input {
  width: 100%;
  border: 2px solid #2e2e2e;
  display: flex;
  flex-direction: column;
}

.modal-button-container {
  display: flex;
  justify-content: center;
}

.modal-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}

.modal-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: #FFFFFF;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

/* Greetings Bar */

.greetings-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F3F3F3;
  border-bottom: 2px solid #2e2e2e;
}

.greeting-container {
  display: inline-flex;
  margin-top: 10px;
  margin-right: 100px;
  width: 300px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

.username-greeting {
  font-size: 20px;
  padding-top: 15px;
  padding-right: 15px;
}

.logout-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: transparent;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

.logout-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}


/* Hero */

.hero-container {
  height: 600px;
  min-width: 600px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #FFFFFF;
  /* border: 2px solid #2e2e2e;
  border-radius: 5px; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.hero-logo-img {
  padding-left: 5px;
}

.text-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-text {
  display: flex;
  justify-content: center;
  width: 500px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 65px;
  padding-top: 35px;
}

.tagline-text {
  font-size: 19px;
  padding-top: 8px;
}

.search {

}

.cat-banner {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 20px;
  padding-right: 20px;
}

/*Search */

.search-container {

}

.search-form {
  padding-top: 50px;
}

input[type="search"] {
    font-size: 16px;
    border-left: 2px solid #2e2e2e;
    border-top: 2px solid #2e2e2e;
    border-bottom: 2px solid #2e2e2e;
    border-right: 2px solid #2e2e2e;
    border-radius: 10px;
    height: 42px;
    margin-right: 8px;
}

.search-input {
width: 500px;
padding-left: 10px;
}

.yellow-span {
  /*color: #F3F315;*/
  text-shadow: #F8C967 0px 0px 1px,   #F8C967 0px 0px 1px,   #F8C967 0px 0px 1px,
  #F8C967 0px 0px 1px,   #F8C967 0px 0px 1px,   #F8C967 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: 600;

}

.search-button {
  background-color: white;
  border: 2px solid #2e2e2e;
  border-radius: 10px;
  height: 42px;
  padding-bottom: 5px;
  background-color: #d3d3d3;
}

.search-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}

.fa-search {
  width: 25px;
}

/* Locations Index */

.locations-index-background {
  background-color: #E9E5CA;
}

.locations-index-container {
  min-width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  /* border: 2px solid #2e2e2e; */
  border-radius: 5px;
  background-color: #E9E5CA;
}

.locations-list-and-map {
  display: flex;
  justify-content: space-around;
  background-color: #E9E5CA;
  /* border: 2px solid yellow; */

}

.locations-list {

}

.locations-list-map {
  /* border: 2px solid orange; */
  padding-top: 10px;
}

/* Locations Index Item */

.locations-index-item-all {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #2e2e2e; */
  border-radius: 5px;
  min-width: 400px;
  padding: 10px;
  margin-top: 15px;
  background-color: #FFFFFF;
}

.locations-index-item-name {
  /* border: 2px solid #2e2e2e;
  border-radius: 5px; */
  padding: 3px;
}

.locations-index-item-name-link {
  /* font-family: 'Varela Round', sans-serif; */
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
}

.locations-index-item-name-link:hover {
  text-decoration: underline;
  /* text-shadow: #E4CB72 0px 0px 1px,   #E4CB72 0px 0px 1px,   #E4CB72 0px 0px 1px,
    #E4CB72 0px 0px 1px,   #E4CB72 0px 0px 1px,   #E4CB72 0px 0px 1px;
    -webkit-font-smoothing: antialiased; */
}

.locations-index-item-info {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locations-index-item-photo {
  margin: 10px;
}

.location-img-url {
 border: 2px solid #2e2e2e;
 border-radius: 5px;
}

.locations-index-item-details-container {
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  width: 150px;
  height: 120px;
  margin-top: 5px;
}

.locations-index-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}

.locations-index-item-rating {
  padding-bottom: 10px;
}

/* Location Show */

.location-show-background-color {
  background-color: #E9E5CA
}

.location-show-container {
  min-width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  /* border: 2px solid #2e2e2e;
  border-radius: 5px; */
}

.location-show-subcontainer {
  display: flex;
  justify-content: space-around;
  background-color: #E9E5CA
}

.location-show-left-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  min-width: 940px;
  padding: 20px;
  margin-top: 15px;
  /* background-color: #E9E5CA; */
  background-image: url("http://hellahoops.com/corkboard.jpg");
}

.location-show-header-container {
  margin-bottom: 8px;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffff;
}

.location-show-name-stars {
  
}

.location-show-name {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  padding-left: 10px;
  padding-top: 10px;
}

.location-show-rating {
  padding-left: 10px;
  padding-top: 3px;
}

.location-show-map-cats-container {
  /* border: 2px solid #2e2e2e;
  border-radius: 5px; */
  display: flex;
  justify-content: space-between;
  /* background-image: url("http://hellahoops.com/corkboard.jpg"); */
  
}

.location-map-contact-container {

}

.location-map {
  padding: 10px;
}

.location-contact {
  /* margin-top: 20px;
  padding: 5px; */
  background:#fefabc; 
  padding:15px; 
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 14px;; 
  color: #000; 
  width:200px;
  height: 90px; 

-moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg);

box-shadow: 0px 4px 6px #333;
-moz-box-shadow: 0px 4px 6px #333;
-webkit-box-shadow: 0px 4px 6px #333;
}

.location-cats-list-container {
  width: 240px;
  border: 2px solid orange;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  background-color: #E9E5CA;
  background-repeat: round
}

.location-cats{
  margin-top: 10px;
}

/* Polaroid CSS from Paul Underwood: https://paulund.co.uk/create-polaroid-image-with-css */

.featured-cat {
  height: 200px;
  width: 200px;
  /* background: white;
	display: inline;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 35px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative; */
}

.corkboard {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-image: url("http://hellahoops.com/corkboard.jpg");
  /* border: 2px solid #2e2e2e; */
  border-radius: 5px;
}

.location-show-post-it {
  background:#fefabc; 
  padding:15px; 
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 14px;; 
  color: #000; 
  width:200px;
  height: 120px; 

/* -moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg); */

box-shadow: 0px 4px 6px #333;
-moz-box-shadow: 0px 4px 6px #333;
-webkit-box-shadow: 0px 4px 6px #333; 
}

.location-show-properties {

}


.featured-cat-img-container {
  background: white;
	display: inline;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 20px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.cat-name-text {
  padding-top: 10px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.featured-cat-text {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.featured-cat-text-container {
  width: 240px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


/* Map */

.location-show-map {
  width: 300px;
  height: 200px;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
}

.location-index-map {
  width: 500px;
  height: 500px;
  /* border: 2px solid #2e2e2e;
  border-radius: 5px; */
}


/* Reviews Index */

.reviews-index-container {
  display: flex;
  justify-content: space-around;
  background-color: #E9E5CA;
}

.reviews-list-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #2e2e2e;
  border-radius: 5px; */
  max-width: 600px;
  padding: 20px;
  margin-top: 15px;
  background-color: #E9E5CA;
}

.reviews-list {
  margin-bottom: 20px;
}

.reviews-content-container {
  min-width: 940px;
  display: flex;
  justify-content: space-around;
}

.review-container {

}

.review {

}

.review-username {
  margin-left: 85px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

/* Speech bubble CSS taken and modified from Nicolas Gallagher: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */

.comment-body {
  position: relative;
    padding: 15px;
    margin: 20px;
    border: 4px solid #A5B077;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.comment-body:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #A5B077 transparent;
    display: block;
    width: 0;
}

.comment-body:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.review-username-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
}

.review-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.delete-review-button {
  margin-left: 5px;
  margin-right: 5px;
  min-height: 20px;
  color: #2e2e2e;
  background-color: #FFFFFF;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

.delete-review-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}

.update-review-button {
  margin-left: 5px;
  margin-right: 5px;
  min-height: 20px;
  color: #2e2e2e;
  background-color: #FFFFFF;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

.update-review-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}

.display-form {

}

.reviews-location-info-container {
  width: 340px;
  margin-top: 15px;
  background-color: #FFFFFF;
}

.log-in-to-review {
  margin-left: 25px;
  margin-top: 20px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 14px;
  
}

.reviews-hr {
  border-top: 2px solid #2e2e2e;
  width: 550px;
}

/* Review Form */

.review-form-container {
  display: flex;
  justify-content: center;
}

.review-form-box {

}

.login-form {

}

.review-form {
  margin: 20px;
}

.review-label {
  margin-top: 10px;
}

.review-input {
  width: 550px;
  height: 120px;
  max-width: 500px;
  max-height: 120px;
  border: 4px solid #A5B077;
  color: #333;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.review-submit-button-container {
  margin-top: 10px;
}

.review-submit-button {
  margin-left: 5px;
  margin-right: 5px;
  min-height: 20px;
  color: #2e2e2e;
  background-color: #FFFFFF;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

.review-submit-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #E4CB72;
}

.paw-hr {
  background-color: #2e2e2e;
  border-radius: 5px;
  height: 2px;
  text-align: center;
  width: 550px;
}

/* Placeholder */

/* CSS Post-It Note from here: http://wpandsuch.com/create-a-post-it-note-with-css3/ */

.reviews-location-info-text {
  background:#fefabc; 
  /* margin-left: -200px;
  margin-top: -100px; */
  padding:15px; 
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 14px;; 
  color: #000; 
  width:200px;
  height: 110px; 

-moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg);

box-shadow: 0px 4px 6px #333;
-moz-box-shadow: 0px 4px 6px #333;
-webkit-box-shadow: 0px 4px 6px #333;

}

.location-properties-header {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* Footer */

.footer-container {
  width: 100%;
  height: 35px;
  /* background-color: #F3F3F3; */
  /* display: flex;
  justify-content: space-between; */
  border-top: 1px solid #2e2e2e;
  background-color: #F3F3F3
}

.footer-links {
  display: flex;
  justify-content: flex-end;
}

.footer-link-item {
  /* padding-top: 10px;
  padding-right: 20px; */
}

.footer-link-item a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.footer-link-item a:hover {
  text-shadow: #F8C967 0px 0px 1px, #F8C967 0px 0px 1px, #F8C967 0px 0px 1px, 
  #F8C967 0px 0px 1px, #F8C967 0px 0px 1px, #F8C967 0px 0px 1px
}

/* Public Cat */

.public-cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.public-cat-main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 1050px;
   padding: 20px;
}

.public-cat-title {
  
}

.what-is-public-cat {

}

.public-cat-story {

}

.public-cat-story-text-left {

}

.public-cat-story-text-right {

}

.cat-text {

}

.cat-image {

}