/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  font-family: 'Open Sans', sans-serif;
}

/* Sessions Form */

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 45px;
}

.logo-container h2 {
  padding-top: 10px;
  padding-left: 100px;
}

.login-signup-buttons {
  margin-top: 10px;
  margin-right: 100px;
}

.login-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: transparent;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

.signup-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: transparent;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

.signup-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #F3F315;
}

.login-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #F3F315;
}

 .modal-form-container {

}

.login-form-box {

}

.login-form {

}

.modal-logo {
  display: flex;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.modal-logo-text {
  padding: 10px;
}

.modal-input {
  width: 100%;
  border: 2px solid #2e2e2e;
  display: flex;
  flex-direction: column;
}

.modal-button-container {
  display: flex;
  justify-content: center;
}

.modal-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #F3F315;
}

.modal-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: #FFFFFF;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

/* Greetings Bar */

.greetings-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.greeting-container {
  display: inline-flex;
  margin-top: 10px;
  margin-right: 100px;
  width: 300px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

.username-greeting {
  font-size: 20px;
  padding-top: 15px;
  padding-right: 15px;
}

.logout-button {
  min-height: 25px;
  color: #2e2e2e;
  background-color: transparent;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px;
}

.logout-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #F3F315;
}


/* Hero */

.hero-container {
  height: 600px;
  min-width: 600px;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.text-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-text {
  display: flex;
  justify-content: center;
  width: 500px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 65px;
  padding-top: 35px;
}

.tagline-text {
  font-size: 19px;
  padding-top: 8px;
}

.search {

}

.cat-banner {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-bottom: 20px;
}

/*Search */

.search-container {

}

.search-form {
  padding-top: 50px;
}

input[type="search"] {
    font-size: 16px;
    border-left: 2px solid #2e2e2e;
    border-top: 2px solid #2e2e2e;
    border-bottom: 2px solid #2e2e2e;
    border-right: 2px solid #2e2e2e;
    border-radius: 10px;
    height: 42px;
    margin-right: 8px;
}

.search-input {
width: 500px;
}

.yellow-span {
  /*color: #F3F315;*/
  text-shadow: #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px,
  #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: 600;

}

.search-button {
  background-color: white;
  border: 2px solid #2e2e2e;
  height: 42px;
  padding-bottom: 5px;
  background-color: #d3d3d3;
}

.search-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: url('http://hellahoops.com/smallestestpaw.ico'), default;
  background-color: #F3F315;
}

.fa-search {
  width: 25px;
}

/* Locations Index */

.locations-index-container {
  min-width: 800px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
}

.locations-list-and-map {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  border: 2px solid yellow;

}

.locations-list {

}

.locations-list-map {
  border: 2px solid orange;

}

/* Locations Index Item */

.locations-index-item-all {
  display: flex;
  flex-direction: column;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  min-width: 400px;
  padding: 20px;
  margin-top: 15px;
  background-color: #d3d3d3;
}

.locations-index-item-name {
  border: 2px solid purple;
  padding-bottom: 10px;
}

.locations-index-item-name-link {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
}

.locations-index-item-name-link:hover {
  text-shadow: #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px,
    #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px,   #F3F315 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.locations-index-item-info {
  border: 2px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locations-index-item-photo {

}

.locations-index-item-details-container {
  border: 2px solid blue;
  width: 150px;
}

.locations-index-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.locations-index-item-rating {

}

/* Location Show */

/* Map */
.location-map {
  width: 300px;
  height: 300px;
}
